* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  font-family: 'Courier New', Courier, monospace;
  color: #222;
}

.booklist {
  display: grid;
  width: 90vw;
  margin: 1rem auto;
  max-width: 1170px;
  gap: 2rem;
}

@media (min-width: 760px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.book h2 {
  margin-top: 0.5rem;
}
